/*
Theme: InstaCard - Responsive Virtual Business Card
Author: graphic_dev
URI:  http://themeforest.net/user/graphic_dev?ref=graphic_dev
*/

/* Override CSS here */
body { background:url(../img/misc/backgrounds/patterns/shattered.png) repeat; }